div#memory_board{
	background: hotpink;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#choice > div{

	border: #000;
	width: 20px;
	height: 10px;
	float: left;
	margin: 10px;
	padding: 10px;
	
}
div#memory_board > div{
	background: url(palmen.jpg) no-repeat;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}
select#choice {
	background: indianred;
	border: #000 1px solid;
    width: 80px;
    height: 40px;
    padding: 0px;
    max-resolution: bottom 0px; 
}                                                       
                                                        