body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

header {
	grid-column: span 2;
	text-align: center;
}

div {
	border: thin solid black;
	margin: 1em;
}
h2 {
	text-align: center;
}
label {
	text-align: center;
}
select:focus option.holder {
	display: none;
  }